@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    font-family: 'Inter',Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: antiquewhite;
}

.page-title{
    font-size: 1.8rem;
    text-align: center;
    font-weight: 500;
}

.page-instructions{
    font-size: 1rem;
    text-align: center;
    color: gray;
    font-weight: normal;
    margin-bottom: 12px;
}

.error-message, .loading-message{
    margin-top: 12px;
    text-align: center;
}