.movie-container .like-button {
    background-color: rgba(0, 0, 0, 0.4);
    border: none;
    border-top: 2px solid rgba(255, 255, 255, 0.4);
    cursor: pointer;
    outline: none;
    font-size: 24px;
    opacity: 0;
    transition: opacity 0.05s;
  }
  
  .movie-poster-container:hover .like-button {
    opacity: 1;
  }

.like-button:hover {
  cursor: pointer;
}