#filterDropdown {
    display: block;
    margin: 0 auto;
}

.movie-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 24px;
    max-width: 1024px;
    margin: 24px auto;
}

.noMatches{
    text-align: center;
    margin-top: 5%;
}

@media (max-width: 425px) {
    .movie-grid{
        gap: 0px;
    }
}

@media (max-width: 400px) {
    .movie-grid{
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}