#filterDropdown {
    display: block;
    margin: 0 auto;
}

.movie-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 24px;
    max-width: 1024px;
    margin: 24px auto;
}

.movie-grid > *:only-child {
    grid-column: span 2; /* Adjust this value as needed */
    justify-self: center; /* Center the single item */
}

.movie-grid > *:nth-child(2):nth-last-child(1),
.movie-grid > *:nth-child(1):nth-last-child(2) {
    grid-column: span 1; /* Adjust this value as needed */
    justify-self: center; /* Center the two items */
}

.noMatches{
    text-align: center;
    margin-top: 5%;
}

@media (max-width: 425px) {
    .movie-grid{
        gap: 0px;
    }
}

@media (max-width: 400px) {
    .movie-grid{
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}