.movie-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    overflow: hidden;
}

.movie-container a {
    grid-area: overlap;
}


.movie-container .movie-title {
    padding: 0;
    margin: 0;
    height: 2.5rem;
    width: 100%;
    font-size: calc(100%);
    text-align: center;
}

@media screen and (min-width:600px){
    .movie-title{
        display: none;
    }
}

.movie-container .movie-poster-container{
    border-radius: 8px;
    border: rgba(173, 1, 1, 0) 4px solid;
    transition: border 0.05s linear;
    height: fit-content;
    width: fit-content;
    display: grid;
    grid-template: 1fr 1fr;
    grid-template-areas: "overlap";
    position: relative;
}


.movie-container .movie-poster{
    border-radius: 2px;
    aspect-ratio: 2 / 3;
    display: block;
    max-width: 100%;
    height: auto;
    z-index: 0;
}
.movie-container .movie-poster-container:hover{
    border: rgb(37, 37, 37) 4px solid;
}

.movie-container .movie-poster:hover{
    cursor: pointer;
}

.movie-container button{
    z-index: 2;
    grid-area: overlap;
    height: 10%;
    align-self: end;
}
