.swipe-container {
    height: fit-content;
    width: fit-content;
    margin: auto;
}

.swipe-navigation{
    width: 100%;
    display: flex;
    margin-top: 16px;
    justify-content: space-between;
}